# 1.Right Angle Triangle Pattern

In [2]:
for i in range(1,6):
    print(' * ' *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

# 2. Inverted Right Angle Triangle Pattern

In [5]:
for i in range(5,0,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

## 3.Pyramid Pattern

In [8]:
for i in range(1,6):
    print(''*(5-i)+' * ' *(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

## 4.Inverted Pyramid Pattern

In [11]:
for i in range(5,0,-1):
    print(''*(5-i)+' * ' *(2*i-1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

## 5.Diamond Pattern

In [14]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range(4,0,-1):
        print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

## 6.Hallow Square Pattern

In [17]:
for i in range(5):
    for j in range(5):
        if i ==0 or i==4 or j==0 or j==4:
            print('*',end='')
        else:
            print(' ' ,end='')
    print()

*****
*   *
*   *
*   *
*****

## 7.Full Square Pattern

In [20]:
for i in range(5):
    print(' * '*5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

## 8.Right Angle Traingle(Number Pattern)

In [23]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1, i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 9.Inverted Right Angle Traingle

In [26]:
for i in range(5,0,-1):
    print(' '.join(str(x)for x in range(1,i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 10.Floyd's triangle

In [29]:
num=1
for i in range(1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# 11.Hallow Right Angle Triangle

In [32]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

# 12.Hallow Pyramid Pattern

In [35]:
for i in range(1, 6):
    for j in range(5 - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i-2 or i == 5:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

## 13.Hallow Diamond Pattern

In [38]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ',end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print('*',  end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

## 14.Hallow Diamond(Number Pattern)

In [41]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

In [43]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
    
    n = 5
for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(i):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end=' ')
    for j in range(2 * (n - i)):
        print(' ', end=' ')
    for j in range(i):
        print('*', end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

## 16.Hallow Number Pyramid

In [46]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 or i ==n:
            print(i, end=' ')
        else:
            print(' ', end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

## 17.Full Star Pyramid

In [49]:
n = 5

for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')
        
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## 18.Inverted Full Star Pyramid

In [52]:
n = 5 
for i in range(n, 0, -1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(2 * i - 1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

## 19.Left Aligned Pyramid Pattern

In [55]:
n = 5

for i in range(1 , n+1):
     for j in range(i):
         print('*', end=' ')
     print()

n = 5

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 20.Right Aligned Pyramid Pattern

In [58]:
n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')

    for j in range(1, i + 1):
       print(j, end=' ')
    print()

n = 5
for i in range(1, n + 1):
    for j in range(n - i):
        print(' ', end=' ')
    for j in range(i):
        print('*', end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *