In [1]:
def greet():  # define the function hear  
    print('good evening') # print the statemnt

In [3]:
def greet():
    print('good evening')
greet()

good evening

In [5]:
def greet():
    print('good evening')
greet()

def greet():
    print('good evening')
greet()

def greet():
    print('good evening')
greet()

good evening
good evening
good evening

In [7]:
def greet():
    print('good evening')
    
greet()
print()
greet()

greet()

greet()

good evening

good evening
good evening
good evening

In [9]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [11]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [13]:
def greet():
    print('good evening')
greet()

print()

def add(x,y):
    c=x+y
    print(c)  
add(5,6)

good evening

11

In [15]:
def greet():
    print('good evening')
def add(x,y):
    c=x+y
    print(c)  

greet()
add(5,6)

good evening
11

In [17]:
def greet():
    print('good evening')
def add(x,y):
    c=x+y
    print(c)  
def sub(x,y):
    c=x-y
    print(c)

greet()
add(5,6)
sub(5,6)

greet()
add(10,20)
sub(10,20)

good evening
11
-1
good evening
30
-10

In [19]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [21]:
def add(x,y):
    c=x+y
    return c  
add(5,6)

11

In [23]:
def add(x,y):
    c=x+y
    return c
    
def sub(x,y):
    d=x-y
    return d

print(add(20,10))
print(sub(20,10))

30
10

In [25]:
def add(x,y):
    c=x+y
    return c
    
def sub(x,y):
    d=x-y
    return d

result = add(20,10)
result2 = sub(20,10)

print(result)
print(result2)

print(type(result))
print(type(result2))

30
10
<class 'int'>
<class 'int'>

In [27]:
def add_sub(x,y): 
    c = x+y
    d = x-y
    return c, d 

result = add_sub(20,10)
print(result)
print(type(result))

(30, 10)
<class 'tuple'>

In [29]:
def add_sub(x,y): 
    c = x+y
    d = x-y
    return c, d 

result, result2 = add_sub(20,10)

print(result)
print(result2)
print(type(result))
print(type(result2))

30
10
<class 'int'>
<class 'int'>

# function argument

In [32]:
def update(): 
    x = 8
    print(x)

update()

8

In [34]:
def update(): 
    x = 8
    print(x)

update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [36]:
def update(x): #update function take the value from the user
    x = 8
    return x 
    
update(8)

8

In [38]:
def update(x): 
    x = 8
    return x 
    
update(10)

8

In [40]:
def update(x):  
    x = 8
    return x
    
a = 10

print(update(a))

print(a)

8
10

# function without argument - not required any thing
# function with argument -- divide into 2 part
    - FORMAL ARGUMENT
    - ACTUAL ARGUMENT

In [43]:
def add(x,y): #x & y is called -- FORMAL ARGUMENT 
    c=x+y
    return c

add(4,5)  #4 & 5 is called - ACTUAL ARGUMENT

9

# positional argument

In [46]:
def add(x,y,z,m,n,o,a,u): #x & y is called -- FORMAL ARGUMENT 
    c=x+y
    return c

add(4,5,0,7,4,54,5,68)  #4 & 5 is called - ACTUAL ARGUMENT

9

In [54]:
def person(name,age):
    print(name)
    print(age)
    
person('sekhar', 22)

sekhar
22

In [56]:
def person(name,age):
    print(name)
    print(age)
    
person(22, 'sekhar')

22
sekhar

In [63]:
def person(name,age):
    print(name)
    print(age + 1)
    
person(22, 'sekhar')

22

TypeError: can only concatenate str (not "int") to str

# keyword argument

In [65]:
def person(name,age):
    print(name)
    print(age + 1 ) 
person(age = 22, name = 'sekhar')

sekhar
23

In [67]:
def person(name,age,salary):
    print(name)
    print(age + 1 ) 
    print('sir job chalagya')
    
person(age = 22, name = 'sekhar')

TypeError: person() missing 1 required positional argument: 'salary'

# default argument

In [69]:
def person(name, age, age2):
    print(name)
    print(age)
    print(age2)
    
person(age = 20,  name = 'sekhar', age2 = 21) 

#this is called keyword arguments

sekhar
20
21

In [71]:
def person(name,age):
    print(name)
    print(age)
    
person('sekhar')

TypeError: person() missing 1 required positional argument: 'age'

In [73]:
def person(name,age=18):
    print(name)
    print(age)
    
person('sekhar')

sekhar
18

In [75]:
def person(name, age=18):
    print(name)
    print(age)
    
person('sekhar',age= 40)

sekhar
40