# Tuples
### 1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.
### 2. When we do not want to change the data over time, tuple is a preferred data type.
### 3. Iterating over the elements of a tuple is faster compared to iterating over a list.

### Tuple Creation

In [10]:
tup1 = () # Empty tuple
tup1

()

In [12]:
tup2 = (10,30,60) # tuple of integers numbers
tup2

(10, 30, 60)

In [14]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup3

(10.77, 30.66, 60.89)

In [16]:
tup4 = ('one','two' , "three") # tuple of strings
tup4

('one', 'two', 'three')

In [18]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples
tup5

('Asif', 25, (50, 100), (150, 90))

In [20]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types
tup6

(100, 'Asif', 17.765)

In [22]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))
tup7

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [24]:
len(tup7) #Length of list

6

### Tuple Indexing

In [27]:
tup2[0] # Retreive first element of the tuple

10

In [29]:
tup4[0] # Retreive first element of the tuple

'one'

In [31]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple ele

'o'

In [33]:
tup4[-1] # Last item of the tuple

'three'

In [35]:
tup5[-1] # Last item of the tuple

(150, 90)

### Tuple Slicing

In [42]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [44]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the ite

('one', 'two', 'three')

In [46]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [48]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [50]:
mytuple[:2] # Return first two items

('one', 'two')

In [52]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [54]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [56]:
mytuple[-1] # Return last item of the tuple

'eight'

In [58]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove & Change Items

In [61]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [63]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [65]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [67]:
del mytuple # Deleting entire tuple object is possible

### Loop through a tuple

In [72]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [74]:
for i in mytuple: print(i)

one
two
three
four
five
six
seven
eight

In [76]:
for i in enumerate(mytuple): print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [81]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [83]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [85]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [87]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

### Tuple Membership

In [90]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [92]:
'one' in mytuple # Check if 'one' exist in the list

True

In [94]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [96]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [98]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

## Index Position

In [103]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [105]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [107]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [109]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [111]:
mytuple1.index('one') # Index of first element equal to 'one'

0

## Sorting

In [118]:
mytuple2 = (43,67,99,12,6,90,67)
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [120]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [122]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

### Tuple completed